body {
    background: lightskyblue;
}

a {
    color: darkblue;
}

#wrapper {
    width: 250px;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}




.newstape {
    background: white;
    height: 400px;
    overflow: hidden;
}

.newstape-content {
    position: relative;
    padding: 15px;
}

.newstape-drag {
    cursor: ns-resize;
}
